*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
p{
    font-size: 70px;
}