*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(43, 53, 43);
    color: #fff;
}
.container{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
h1{
    text-align: center;
    padding: 20px;
}
select{
    height: 25px;
    outline: navajowhite;
}
input{
    width: 75%;
    height: 25px;
    font-size: 16px;
    padding: 0 3px;
    background: transparent;
    border: none;
    border-bottom:1px solid #fff;
    outline: none;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 25px;
}
.card{
    width: 100%;
    height: 50px;
    padding: 7px;
    border-radius: 5px;
    margin: 5px 0;
}
.kg{
    background: rgb(219, 164, 61);
}
.gm{
    background: rgb(94, 94, 206);
}
.tn{
    background: rgb(68, 211, 68);
}
.pd{
    background: rgb(226, 69, 69);
}
.card p{
    padding: 2px;
    font-size: 19px;
}
#output{
    margin-bottom:80px;
}
footer{
    padding: 20px;
    text-align: center;
}
footer p{
    padding: 2px;
}
footer a{
    color: rgb(96, 164, 228);
}